:root {
    --white:#fff;
    --grey:#ccc;
    --granite-gray: #626a6a;
    --black-sea: #33383c;
    --fire-bush: #b60d1b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    
}

header {
    padding: 1.3rem;
    background: var(--black-sea);
}

.navbar {
    color: var(--white);
    display: flex;
}

h2 {
    margin-left: 5rem;
    margin-right: 7rem;
}

.content {
    padding: 2rem;
}

.content_grid {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.side {
    height: 30.5rem;
    background-color: var(--black-sea);
    
} 

li {
    list-style-type:none;
     
}

li a{
    padding: 1rem;
    display: block;
    width: 250px;
    font-size: 1rem;
    color: var(--white);
    text-decoration: none;
    border-bottom: 1px solid var(--granite-gray);
    text-align: center;
    transition: 0.3s;
    
}

.out {
    margin-top: 14rem;
    border-top: 1px solid var(--granite-gray);
    
}

a:hover{
    background-color: var(--granite-gray);
    color: var(--white);

}

.section h4 {
    font-size: 1.5rem;
    margin: 1rem 40%;
}

hr {
    opacity: 0.8;
}

.showinfo {
    margin: 2rem 4rem;
}

.group {
    margin: 1rem;
    font-size: 1rem;
    
}

input[type="text"],
input[type="fils"]{
    width: 12rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid var(--granite-gray);

}

input[type="submit"] {
    width: 5rem;
    height: 2rem;
    margin-left: 15rem;
}

input [type="file"]{
    width: 10rem;
    height: 10rem;
}
select{
    width: 6rem;
    height: 2rem;
}

@media screen and (max-width: 480px){

    header{
    padding: 0.5rem;
    }
    h2 {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 20px;
    }

    h3 {
    font-size: 16px;
    }

    .content{
    padding: 0.5rem;

    }
    .content_grid {

    grid-template-columns:1fr;
    }

    .side{
    height: 13rem
    }

    li a{
    width: 100%;
    padding: 0.7rem;
    font-size: 14px;
    }
    /* .navbar {
    display: flex;
    justify-content: space-between;

    } */

    .section h4 {
    font-size: 20px;
    margin: 0.5rem;
    text-align: center;
}


hr {
    margin-bottom: 0.5rem;
}

  .showinfo {
      margin: 0.5rem 1rem;
    } 

    .group {
        margin: 0.8rem;
        font-size: 15px;
    }

    input[type="text"],
    input[type="fils"]{
    width: 11rem;
    height: 2rem;

    }

    input[type="submit"] {
        width: 4rem;
        margin: 0.7rem;
        margin-left: 13rem;
    }

    select{
    font-size: 12px;
    }

}
