:root {
    --white:#fff;
    --grey:#ccc;
    --granite-gray: #626a6a;
    --black-sea: #33383c;
    --fire-bush: #b60d1b;
}

*{
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    
}

header {
    padding: 1.3rem;
    background: var(--black-sea);
}

.navbar {
    color: var(--white);
    display: flex;
}

h2 {
    margin-left: 5rem;
    margin-right: 7rem;
}

.content {
    padding: 2rem;
}

.content_grid {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.side {
    height: 16.5rem;
    background-color: var(--black-sea);
    
} 

li {
    list-style-type:none;
     
}

li a{
    padding: 1rem;
    display: block;
    width: 250px;
    font-size: 1rem;
    color: var(--white);
    text-decoration: none;
    border-bottom: 1px solid var(--granite-gray);
    text-align: center;
    transition: 0.3s;
    
}


a:hover{
    background-color: var(--granite-gray);
    color: var(--white);

}

.showinfo {
    padding: 1rem;
    border: 1px solid var(--grey);
}

.section h4 {
    font-size: 1.5rem;
    margin: 1rem 40%;
}

hr {
    opacity: 0.8;
    margin-bottom: 1rem;
}

.table_viet {
    margin: 0.5rem 0rem;
    text-align: center;
}
.table_viet th{
    width: 12rem;
    font-size: 1.1rem;
    padding: 0.6rem 2rem;
    border: 1px solid var(--granite-gray);
    border-radius: 5px;
}
.table_viet td{
    font-size: 1.1rem;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid var(--grey);
}



.view a{
    text-decoration: none;
    font-size: 1rem;
    background-color: var(--black-sea);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.del a{
    text-decoration: none;
    font-size: 1rem;
    background-color: var(--fire-bush);
    color: var(--white);
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
}

@media screen and (max-width: 480px){

    header{
    padding: 0.5rem;
    }
    h2 {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 20px;
    }

    h3 {
    font-size: 16px;
    }

    .content{
    padding: 0.5rem;

    }
    .content_grid {

    grid-template-columns:1fr;
    }

    .side{
    height: 13rem
    }

    li a{
    width: 100%;
    padding: 0.7rem;
    font-size: 14px;
    }
    /* .navbar {
    display: flex;
    justify-content: space-between;

    } */

    /* .showinfo img {
        width: 100% ;
        height: 10rem;
    }
         */
    .section h4 {
    font-size: 20px;
    margin: 0.5rem;
    text-align: center;
    }


    hr {
        margin-bottom: 0.5rem;
    }

    .table_viet th{
        font-size: 14px;
        padding: 0.1rem 0rem;
    }
    .table_viet td{
        font-size: 14px;
        padding: 1rem 0rem;
    }

    .view a{
        font-size: 13px;
        padding: 0.5rem 0rem;
    }

    .del a{
        font-size: 13px;
        padding: 0.5rem 0.7rem;
    }

}
