
table{
    border-collapse: collapse;
    width: 50rem;
}

th, td{
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #ddd;  
}

h2 {
    text-align: center;
}

img {
    width: 6rem;
    height: 5rem;
}